#copyright {
    font-size: 11px;
}

#process {
    font-size: 32px;
}

.design {
    background-image: url(Resources/flatiron.png);
}

.design h2 {
    color: #FFF;
    font-size: 23px;
}

a:visited {
    color: navajowhite;
}

footer {
    background-color: #696969;
    color: #FFF;
    text-align: left;
}

footer ul li {
    display: inline;
     color: #FFF;
}

h1 {
    font-size: 70px;
    margin: auto;
}

h1,
#process,
.design {
    font-weight: 700;
}

h1,
.btn-nav1 {
    color: #FFF;
}

header {
    background-image: url(Resources/flatiron.png);
    max-height: 50%;
}

html {
    font-family: Helvetica;
    text-align: center;
}

li {
    font-size: 18px;
}

p {
    font-size: 14px;
}

ul {
    list-style-type: none;
}
