html {
    font-family: Helvetica;
    text-align: center;
}

h1{
    font-size: 70px;
    margin: auto;
}

li {
    font-size: 18px;
}

header {
    background-image: url(Resources/flatiron.png);
    max-height: 300px;
}

#process {
    font-size: 32px;
}

h1,
#process {
    font-weight: bold;
}

p {
    font-size: 14px;
}

ul {
    list-style-type: none;
}

h1, .btn-nav {
    color: white;
}
